<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.jk.mapper.ContractMapper">
	<resultMap type="cn.itcast.jk.domain.Contract" id="contractRM">
		<id property="id" column="CONTRACT_ID" />
		<result property="offeror" column="OFFEROR" />
		<result property="contractNo" column="CONTRACT_NO" />
		<result property="signingDate" column="SIGNING_DATE" />
		<result property="inputBy" column="INPUT_BY" />
		<result property="checkBy" column="CHECK_BY" />
		<result property="inspector" column="INSPECTOR" />
		<result property="totalAmount" column="TOTAL_AMOUNT" />
		<result property="importNum" column="IMPORT_NUM" />
		<result property="crequest" column="CREQUEST" />
		<result property="customName" column="CUSTOM_NAME" />
		<result property="deliveryPeriod" column="DELIVERY_PERIOD" />
		<result property="shipTime" column="SHIP_TIME" />
		<result property="tradeTerms" column="TRADE_TERMS" />
		<result property="remark" column="REMARK" />
		<result property="printStyle" column="PRINT_STYLE" />
		<result property="oldState" column="OLD_STATE" />
		<result property="state" column="STATE" />
		<result property="outState" column="OUT_STATE" />

		<result property="createBy" column="CREATE_BY" />
		<result property="createDept" column="CREATE_DEPT" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>

	<resultMap type="cn.itcast.jk.vo.ContractVO" id="contractVORM"
		extends="contractRM">
		<id property="id" column="CONTRACT_ID" />
		<result property="contractProductId" column="CONTRACT_PRODUCT_ID" />
		<result property="cpFactoryId" column="CP_FACTORY_ID" />
		<result property="extContractProductId" column="EXT_CONTRACT_PRODUCT_ID" />
		<result property="extFactoryId" column="EXT_FACTORY_ID" />

<!-- 		<collection property="contractProducts" ofType="cn.itcast.jk.vo.ContractProductVO"> -->
<!-- 			<id property="id" column="CONTRACT_PRODUCT_ID" /> -->
<!-- 			<result property="factoryName" column="FACTORY_NAME" /> -->
<!-- 			<result property="productNo" column="PRODUCT_NO" /> -->
<!-- 			<result property="productImage" column="PRODUCT_IMAGE" /> -->
<!-- 			<result property="productDesc" column="PRODUCT_DESC" /> -->
<!-- 			<result property="cnumber" column="CNUMBER" /> -->
<!-- 			<result property="outNumber" column="OUT_NUMBER" /> -->
<!-- 			<result property="loadingRate" column="LOADING_RATE" /> -->
<!-- 			<result property="boxNum" column="BOX_NUM" /> -->
<!-- 			<result property="packingUnit" column="PACKING_UNIT" /> -->
<!-- 			<result property="price" column="PRICE" /> -->
<!-- 			<result property="amount" column="AMOUNT" /> -->
<!-- 			<result property="finished" column="FINISHED" /> -->
<!-- 			<result property="exts" column="EXTS" /> -->
<!-- 			<result property="orderNo" column="ORDER_NO" /> -->
<!-- 			<result property="extNum" column="EXTNUM" /> -->
<!-- 			<result property="cpNum" column="CPNUM" /> -->

<!-- 			<association property="factory" javaType="cn.itcast.jk.domain.Factory"> -->
<!-- 				<id property="id" column="FACTORY_ID" /> -->
<!-- 				<result property="fullName" column="FULL_NAME" /> -->
<!-- 				<result property="factoryName" column="FACTORY_NAME" /> -->
<!-- 				<result property="contacts" column="CONTACTS" /> -->
<!-- 				<result property="phone" column="PHONE" /> -->
<!-- 				<result property="mobile" column="MOBILE" /> -->
<!-- 				<result property="fax" column="FAX" /> -->
<!-- 				<result property="cnote" column="CNOTE" /> -->
<!-- 				<result property="inspector" column="INSPECTOR" /> -->
<!-- 				<result property="orderNo" column="ORDER_NO" /> -->
<!-- 				<result property="state" column="STATE" /> -->
<!-- 			</association> -->


<!-- 			<collection property="extCproducts" ofType="cn.itcast.jk.vo.ExtCproductVO"> -->
<!-- 				<id property="id" column="EXT_CPRODUCT_ID" /> -->
<!-- 				<result property="factoryName" column="FACTORY_NAME" /> -->
<!-- 				<result property="productNo" column="PRODUCT_NO" /> -->
<!-- 				<result property="productImage" column="PRODUCT_IMAGE" /> -->
<!-- 				<result property="productDesc" column="PRODUCT_DESC" /> -->
<!-- 				<result property="cnumber" column="CNUMBER" /> -->
<!-- 				<result property="ctype" column="CTYPE" /> -->
<!-- 				<result property="price" column="PRICE" /> -->
<!-- 				<result property="amount" column="AMOUNT" /> -->
<!-- 				<result property="productRequest" column="PRODUCT_REQUEST" /> -->
<!-- 				<result property="orderNo" column="ORDER_NO" /> -->

<!-- 				<association property="factory" javaType="cn.itcast.jk.domain.Factory"> -->
<!-- 					<id property="id" column="FACTORY_ID" /> -->
<!-- 					<result property="fullName" column="FULL_NAME" /> -->
<!-- 					<result property="factoryName" column="FACTORY_NAME" /> -->
<!-- 					<result property="contacts" column="CONTACTS" /> -->
<!-- 					<result property="phone" column="PHONE" /> -->
<!-- 					<result property="mobile" column="MOBILE" /> -->
<!-- 					<result property="fax" column="FAX" /> -->
<!-- 					<result property="cnote" column="CNOTE" /> -->
<!-- 					<result property="inspector" column="INSPECTOR" /> -->
<!-- 					<result property="orderNo" column="ORDER_NO" /> -->
<!-- 					<result property="state" column="STATE" /> -->
<!-- 				</association> -->

<!-- 			</collection> -->
<!-- 		</collection> -->
	</resultMap>

	<select id="view" parameterType="string" resultMap="contractVORM">
		<!-- select -->
		<!-- c.contract_id,t.contract_product_id,t.cp_factory_id, -->
		<!-- t.ext_contract_product_id ,t.ext_factory_id -->
		<!-- from -->

		<!-- ( select -->
		<!-- c.contract_id,c.total_amount from contract_c c) c -->
		<!-- left join -->
		<!-- ( -->
		<!-- select -->
		<!-- cp.contract_id,cp.contract_product_id,cp.cp_factory_id, -->
		<!-- ext_contract_product_id ,ext.ext_factory_id -->
		<!-- from -->
		<!-- ( -->
		<!-- select -->
		<!-- cp.contract_id,cp.contract_product_id,f.factory_id as cp_factory_id -->
		<!-- from -->
		<!-- (select * from factory_c) f -->
		<!-- left join -->
		<!-- (select * from -->
		<!-- CONTRACT_PRODUCT_C) cp -->
		<!-- on f.factory_id=cp.factory_id -->
		<!-- )cp -->
		<!-- left join -->
		<!-- ( -->
		<!-- select ext.contract_product_id as ext_contract_product_id -->
		<!-- ,ext.ext_cproduct_id,f.factory_id as ext_factory_id -->
		<!-- from -->
		<!-- (select * from -->
		<!-- factory_c) f -->
		<!-- left join -->
		<!-- (select * from ext_cproduct_c) ext -->
		<!-- on -->
		<!-- f.factory_id=ext.factory_id -->
		<!-- )ext -->
		<!-- on -->
		<!-- cp.contract_product_id=ext.ext_contract_product_id -->
		<!-- ) t -->
		<!-- on -->
		<!-- c.contract_id=t.contract_id -->

		<!-- where c.CONTRACT_ID='#{contractId}' -->


		select
		c.contract_id as contract_id,t.contract_product_id,t.cp_factory_id,
		t.ext_contract_product_id ,t.ext_factory_id
		from

		( select c.contract_id,c.total_amount from contract_c c) c
		left join
		(
		select
		cp.contract_id,cp.contract_product_id,cp.cp_factory_id,
		ext_contract_product_id ,ext.ext_factory_id
		from
		(
		select cp.contract_id,cp.contract_product_id,f.factory_id as cp_factory_id
		from
		(select * from factory_c) f
		left join
		(select * from CONTRACT_PRODUCT_C) cp
		on f.factory_id=cp.factory_id
		)cp
		left join
		(
		select ext.contract_product_id as ext_contract_product_id
		,ext.ext_cproduct_id,f.factory_id as ext_factory_id
		from
		(select * from factory_c) f
		left join
		(select * from ext_cproduct_c) ext
		on f.factory_id=ext.factory_id
		)ext
		on cp.contract_product_id=ext.ext_contract_product_id
		) t
		on c.contract_id=t.contract_id


		where c.CONTRACT_ID='5d0ed13f-5671-4e31-8cae-14bdca5f1994'


	</select>



	<select id="find" parameterType="map" resultMap="contractRM">
		select * from
		contract_c
		where 1=1
	</select>

	<select id="get" parameterType="string" resultMap="contractRM">
		select * from
		contract_c
		where contract_id=#{pid}
	</select>


	<!-- 查看某个合同下有多少个货物 和 附件 -->
	<select id="findSumByContractId" resultMap="contractRM">

		select

		(select
		count(*)as num from contract_product_c
		where CONTRACT_ID =
		C.CONTRACT_ID ) as CPNUM ,

		(select count(*) as NUM from ext_cproduct_c
		t
		where CONTRACT_PRODUCT_ID in (
		select CONTRACT_PRODUCT_ID from
		contract_product_c
		where CONTRACT_ID=C.CONTRACT_ID
		)
		)as EXTNUM , C.*

		from CONTRACT_C C


	</select>


	<select id="findAllByContractId" resultMap="contractRM">
		select
		(
		( (select
		sum(PRICE*AMOUNT) from CONTRACT_PRODUCT_C where
		C.CONTRACT_ID=CONTRACT_ID) )
		+
		( (select sum(PRICE*AMOUNT) from
		EXT_CPRODUCT_C where
		CONTRACT_PRODUCT_ID in
		(select CONTRACT_PRODUCT_ID
		from CONTRACT_PRODUCT_C where
		CONTRACT_ID=C.CONTRACT_ID)
		)
		)
		)as
		TOTAL_AMOUNT ,

		(
		select count(*)as num from contract_product_c
		where
		CONTRACT_ID = C.CONTRACT_ID ) as CPNUM ,

		(select count(*) as NUM from
		ext_cproduct_c t
		where CONTRACT_PRODUCT_ID in (
		select
		CONTRACT_PRODUCT_ID from contract_product_c
		where
		CONTRACT_ID=C.CONTRACT_ID
		)
		)as EXTNUM ,

		CONTRACT_ID,OFFEROR,CONTRACT_NO,SIGNING_DATE,INPUT_BY,CHECK_BY,INSPECTOR,
		IMPORT_NUM,CREQUEST,CUSTOM_NAME,DELIVERY_PERIOD,SHIP_TIME,TRADE_TERMS,REMARK,PRINT_STYLE,OLD_STATE,STATE,OUT_STATE,
		CREATE_BY,CREATE_DEPT,CREATE_TIME

		from CONTRACT_C C



	</select>



	<insert id="insert" parameterType="cn.itcast.jk.domain.Contract">
		insert into contract_c
		(CONTRACT_ID,OFFEROR,CONTRACT_NO,SIGNING_DATE,INPUT_BY,CHECK_BY,INSPECTOR,TOTAL_AMOUNT,
		IMPORT_NUM,CREQUEST,CUSTOM_NAME,DELIVERY_PERIOD,SHIP_TIME,TRADE_TERMS,REMARK,PRINT_STYLE,OLD_STATE,STATE,OUT_STATE,
		CREATE_BY,CREATE_DEPT,CREATE_TIME)
		values
		(
		#{id},
		#{offeror,
		jdbcType=VARCHAR},
		#{contractNo, jdbcType=VARCHAR},
		#{signingDate,
		jdbcType=TIMESTAMP},
		#{inputBy, jdbcType=VARCHAR},
		#{checkBy,
		jdbcType=VARCHAR},
		#{inspector, jdbcType=VARCHAR},
		#{totalAmount,
		jdbcType=DOUBLE},
		#{importNum, jdbcType=INTEGER},
		#{crequest,
		jdbcType=VARCHAR},
		#{customName, jdbcType=VARCHAR},
		#{deliveryPeriod,
		jdbcType=TIMESTAMP},
		#{shipTime, jdbcType=TIMESTAMP},
		#{tradeTerms,
		jdbcType=VARCHAR},
		#{remark, jdbcType=VARCHAR},
		#{printStyle,
		jdbcType=CHAR},
		#{oldState, jdbcType=INTEGER},
		#{state,
		jdbcType=INTEGER},
		#{outState, jdbcType=INTEGER},
		#{createBy,
		jdbcType=VARCHAR},
		#{createDept, jdbcType=VARCHAR},
		#{createTime,
		jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="cn.itcast.jk.domain.Contract">
		update contract_c
		<set>
			<if test="offeror != null">OFFEROR=#{offeror},</if>
			<if test="contractNo != null">CONTRACT_NO=#{contractNo},</if>
			<if test="signingDate != null">SIGNING_DATE=#{signingDate},</if>
			<if test="inputBy != null">INPUT_BY=#{inputBy},</if>
			<if test="checkBy != null">CHECK_BY=#{checkBy},</if>
			<if test="inspector != null">INSPECTOR=#{inspector},</if>
			<if test="totalAmount != null">TOTAL_AMOUNT=#{totalAmount},</if>
			<if test="importNum != null">IMPORT_NUM=#{importNum},</if>
			<if test="crequest != null">CREQUEST=#{crequest},</if>
			<if test="customName != null">CUSTOM_NAME=#{customName},</if>
			<if test="deliveryPeriod != null">DELIVERY_PERIOD=#{deliveryPeriod},</if>
			<if test="shipTime != null">SHIP_TIME=#{shipTime},</if>
			<if test="tradeTerms != null">TRADE_TERMS=#{tradeTerms},</if>
			<if test="remark != null">REMARK=#{remark},</if>
			<if test="printStyle != null">PRINT_STYLE=#{printStyle},</if>
			<if test="oldState != null">OLD_STATE=#{oldState},</if>
			<if test="state != null">STATE=#{state},</if>
			<if test="outState != null">OUT_STATE=#{outState},</if>
		</set>
		where contract_id=#{id}
	</update>


	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string">
		delete from contract_c
		where contract_id=#{pid}
	</delete>

	<!-- 删除多条（一维字符串数组） -->
	<delete id="delete" parameterType="string">
		delete from contract_c
		where contract_id in
		<foreach collection="array" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>

	<!-- 修改状态 -->
	<update id="updateState" parameterType="map">
		update contract_c set state=#{state}
		where contract_id in
		<foreach collection="ids" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</update>

	<!-- <delete id="deleteByContractById" parameterType="string"> -->
	<!-- delete from contract_c -->
	<!-- where CONTRACT_ID in -->
	<!-- <foreach collection="array" item="id" open="(" close=")" separator=","> -->
	<!-- #{id} -->
	<!-- </foreach> -->
	<!-- </delete> -->


</mapper>