.modelDiv {
	text-align: center;
}
.welcome {
    height:100px;
	text-align: center;
	background: URL("images/welcome.gif") no-repeat top;
	
}
.modelTable {
    width: 97%;
}
.modelTitle {
	BACKGROUND: url("../images/title/title_bg.gif");
	background-repeat:repeat-x;
	FONT: bold 10.5pt 微软雅黑, 宋体;
	COLOR: #00554a;
	border-bottom:1px solid #45b4a7;
	HEIGHT: 25px;
	TEXT-ALIGN: left;
	padding-top:5px;
}
.subModelTitle {
 	PADDING-LEFT: 10pt;
	BACKGROUND: #f0fcfa; 
	FONT: bold 9pt 微软雅黑, 宋体;
	COLOR: #369e92; 
	HEIGHT: 20pt; 
	TEXT-ALIGN: left;	
}
.model_intro_left {
	white-space: nowrap;
	text-align: left;
    background: #fff;
	border-bottom:1px solid #e1f1ef;
	width: 130px;
	height:20pt;
}
.model_intro_right {
	background: #fff;
	border-bottom:1px solid #e1f1ef;
	line-height:22px;
}
.modelTable td {
	padding: 5px;
}
.tableFooter{
	BACKGROUND: #c1e1dd;
}

