/* 
 * My97日期控件 My97 DatePicker Ver 4.0
 * 皮肤名称:default
 * 皮肤作者:My97
 */

/* 日期选择容器 DIV */
.WdateDiv{
	width:220px;
	background-color:#f2f2f2;
	border:#808080 1px solid;
	padding:2px;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#cccccc');
	font-family:Arial;
}
.WdateDiv *{font-size:9pt;font-family:Arial;}

/****************************
 * 导航图标
 ***************************/
.WdateDiv .NavImg {
	cursor:pointer;
	width:18px;
	height:16px;
	margin-top:4px;
}
.WdateDiv .NavImgll {
	background:url(navLeft.gif) no-repeat;
}
.WdateDiv .NavImgl {
	background:url(left.gif) no-repeat;
}
.WdateDiv .NavImgr {
	background:url(right.gif) no-repeat;
}
.WdateDiv .NavImgrr {
	background:url(navRight.gif) no-repeat;
}

/****************************
 * 年份月份相关
 ***************************/
/* 年份月份栏 DIV */
.WdateDiv #dpTitle{
	height:24px;
	margin-bottom:2px;
	background:#f2f2f2;
	margin-left:5px;
}
/* 年份输入框 INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	cursor:pointer;
	background:#f2f2f2;
	vertical-align:middle;

}
/* 月份输入框 INPUT */
.WdateDiv .yminput_date{
	margin-top:2px;
	margin-left:10px;
	padding-top:3px;
	text-align:center;
	border:0px;
	height:20px;
	cursor:pointer;
	background:#f2f2f2;
	vertical-align:middle;

}

/* 月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus2{
	margin-top:2px;
	margin-left:10px;
	padding-top:3px;
	text-align:center;
	font-weight:bold;
	color:blue;
	border:#808080 1px solid;
	height:16px;
}
/* 年份月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:bold;
	color:blue;
	border:#808080 1px solid;
	height:16px;
}
/* 菜单选择框 DIV */
.WdateDiv .menuSel{
	position:absolute;
	top:10px;
	background-color:#FFFFFF;	
	border:#808080 1px solid;
	display:none;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#cccccc');
}
/* 菜单的样式 TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	text-align:center;
}
/* 菜单的mouseover样式 TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#426fd9;
	color:#fff;
	text-align:center;
}
/* 菜单无效时的样式 TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* 年选择框的偏移 DIV */
.WdateDiv .YMenu{
	margin-top:16px;
	
}
/* 月选择框的偏移 DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	width:62px;
}
/* 时选择框的位置 DIV */
.WdateDiv .hhMenu{
	margin-top:90px; 
	margin-left:26px;
}
/* 分选择框的位置 DIV */
.WdateDiv .mmMenu{
	margin-top:130px; 
	margin-left:26px;
}
/* 秒选择框的位置 DIV */
.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

/****************************
 * 周相关
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#c1e1dd;
 }
/****************************
 * 星期,日期相关
 ***************************/
/* 星期栏 TR */
.WdateDiv .MTitle{
	background-color:#f2f2f2;
	border-bottom:#ccc 1px solid;
	font-weight:bold;
}
/* 日期栏表格 TABLE */
.WdateDiv .WdayTable{
	line-height:23px;
}
/* 日期格的样式 TD */
.WdateDiv .Wday{
	cursor:pointer;
	color:#0066cc;
	font-size:14px;
	
}
/* 日期格的mouseover样式 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#426fd9;
	color:#fff;
	font-size:14px;
	text-align:center;
}
/* 周末日期格的样式 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#0066cc;
	font-size:14px;
	
}
/* 周末日期格的mouseover样式 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#fff;
	background-color:#ff7800;
	font-size:14px;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
	font-size:14px;
}
.WdateDiv .Wselday{
	background-color:#426fd9;
	color:#fff;
	font-size:14px;
	text-align:center;
}
/* 其他月份的日期 */
.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#a6a6a6;	
	background:#e3e3e3;
	font-size:14px;
}
/* 其他月份的日期mouseover样式 */
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#bebdbd;
	color:#fff;
	font-size:14px;
}
/* 无效日期的样式,即在日期范围以外日期格的样式,不能选择的日期 */
.WdateDiv .WinvalidDay{
	color:#aaa;
	font-size:14px;
}

/****************************
 * 时间相关
 ***************************/
/* 时间栏 DIV */
.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	width:80%;

}
/* 时间文字 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:2px;
}
/* 时间输入框 INPUT */
.WdateDiv #dpTime input{
	height:20px;
	width:18px;
	text-align:center;
	border:#ccc 1px solid;	
}
/* 时间 时 INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 时间 分和间隔符 ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 时间 秒 INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 时间右边的向上按钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
/* 时间右边的向下按钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}
/****************************
 * 其他
 ***************************/
 .WdateDiv #dpQS {
	margin-top:3px;
	background:url(date.gif) no-repeat right;
	width:20px;
	height:20px;
	cursor:pointer;
	float:right;

 }
.WdateDiv #dpControl {
	text-align:left;
	margin-top:3px;
	clear:both;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	border:#ccc 1px solid;
	padding:2px 5px 2px 2px;
	margin:3px 15px 3px 5px;
	float:right;
	border:1px solid #808080;
}