<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.forgeeks.mapper.AnnouncementMapper">
	<resultMap type="cn.forgeeks.domain.Announcement" id="announcementRM">
		<id property="announcementId" column="ANNOUNCEMENT_ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>

	<select id="find" parameterType="map" resultMap="announcementRM">

		select
		announcement_id,title,content
		,to_char(create_time,'YYYY-mm-dd hh24:MM:ss')as CREATE_TIME
		from announcement
		where 1=1
		<if test="date!=null">and create_time  >= ( sysdate - #{date,jdbcType=VARCHAR}) </if>
		order by create_time desc
	</select>

	<select id="get" parameterType="string" resultMap="announcementRM">
		select 
		announcement_id,title,content
		,to_char(create_time,'YYYY-mm-dd hh24:MM:ss')as CREATE_TIME
		from
		announcement
		where announcement_id=#{announcementId}
	</select>
	<insert id="insert" parameterType="cn.forgeeks.domain.Announcement">
		insert into announcement
		(announcement_id,title,content,create_time)
		values
 		(#{announcementId,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
 		#{content,jdbcType=VARCHAR} ,sysdate 
 		) 
	</insert>
	<update id="update" parameterType="cn.forgeeks.domain.Announcement">
		update announcement
		<set>
			<if test="#{title!=null}">title=#{title,jdbcType=VARCHAR},</if> 
			<if test="#{content!=null}">content=#{content,jdbcType=VARCHAR},</if>
			create_time=sysdate
		</set>
		where announcement_id=#{announcementId,jdbcType=VARCHAR}
	</update>
	<delete id="deleteById" parameterType="string">
		delete from announcement
		where
		announcement_id=#{annoId}
	</delete>
	<delete id="delete" parameterType="string">
		delete from announcement
		where announcement_id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

</mapper>
