<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.forgeeks.mapper.StudentMapper">
	<resultMap type="cn.forgeeks.domain.Student" id="studentRM">
		<id property="studentId" column="STUDENT_ID" />
		<result property="studentPassword" column="STUDENT_PASSWORD" />
		<result property="studentName" column="STUDENT_NAME" />
		<result property="sex" column="SEX" />
		<result property="status" column="STATUS" />
		<result property="classId" column="CLASS_ID" />
		<result property="bedroomId" column="BEDROOM_ID" />
	</resultMap>

	<select id="find" parameterType="map" resultMap="studentRM">
		select * from student
		where 1=1 
		
<!-- 		<if test="classId!=null">and CLASSES_ID='#{classId}'</if> -->
	</select>

	<select id="get" parameterType="string" resultMap="studentRM">
		select * from
		student 
		where STUDENT_ID='#{studentId}'
	</select>

	<insert id="update" parameterType="cn.forgeeks.domain.Student">
		insert into student
		(
		STUDENT_ID,STUDENT_PASSWORD,STUDENT_NAME,SEX,STATUS,CLASS_ID,BEDROOM_ID
		)
		values
		(
		'#{studentId}','#{studentPassword}','#{studentName}','#{sex}','#{status}',
		'#{classId}','#{bedroomId}'
		)
	</insert>

	<delete id="deleteById" parameterType="string">
		delete from
		student
		where STUDENT_ID = '#{studentId}'
	</delete>
	
	<delete id="delete" parameterType="string">
		delete from student
		where student_id in
		<foreach collection="array" item="id" open="(" close=")"
			separator=",">
			'#{id}'
		</foreach>
	</delete>
</mapper>